.burger {
  display: none;

  @media (max-width: 1199.98px) {
    display: block;
    width: 22px;
    height: 13px;
    background: url(../img/icons/burger.png) no-repeat;
    position: absolute;
    right: 0;
    top: 10px;

    &--open {
      background: url(../img/icons/close.png) no-repeat right top;
    }
  }
  @media (max-width: 576px) {
    top: 7px;
  }
}