.burger {
  display: none;

  @media (max-width: 1199.98px) {
    display: block;
    width: 16px;
    height: 13px;
    background: url(../img/icons/burger.png) no-repeat;

    &--open {
      background: url(../img/icons/close.png) no-repeat right top;
    }
  }
}