.preference  .main__container {
  max-width: 1440px;
  margin: auto;
}
.footer__disclaimer .main__container {
  max-width: 1920px;
  margin: auto;
}
.footer__disclaimer-text {
  max-width: 100%;
}
.ruble-icon {
  font-family: Audi Type Screen, AudiTEBold;
}