.header {
  // padding: 19px 0;
  padding: 13px 0;
}
.header__content {
  justify-content: space-between;
  max-width: 1920px;
  margin: auto;
}
.header__audi {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.header__audi-name {
  padding-left: 19px;
  line-height: 17px;
}
.header__btn-call {
  font-size: 14px;
  letter-spacing: -0.01em;
  padding: 11px 24px;
  border: 1px solid #000000;
  transition: all 0.5s;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}
.header__item-cars:before {
  content: '';
  width: 15px;
  height: 10px;
  background: url(../img/icons/car.png) no-repeat;
  left: -20px;
  top: 0; bottom: 0;
  margin: auto;
}
.header__item-phone:before {
  // content: '';
  // width: 10px;
  // height: 13px;
  // left: -15px;
  // top: 0; bottom: 0;
  // margin: auto;
  // background: url("../img/phone.png") no-repeat;
  // background-size: contain;
    //   content: "";
    // width: 30px;
    // height: 30px;
    // left: -35px;
    // top: -10px;
    // bottom: 0;
    // margin: auto;
    // background: url(../img/phone-red.png) no-repeat;
    // background-size: contain;
    content: '';
  width: 8px;
  height: 13px;
  left: -15px;
  top: 0; bottom: 0;
  margin: auto;
  background: url("../img/Phone-gray.svg") no-repeat;
  background-size: contain;
}
.header__item-map:before {
  content: '';
  content: '';
  // width: 13px;
  // height: 13px;
  width: 9px;
  height: 13px;
  left: -15px;
  top: 0; bottom: 0;
  margin: auto;
  // background: url("../img/poi-small.png") no-repeat;
  background: url("../img/Map-gray.svg") no-repeat;
  background-size: contain;
}
.header__small {
  color: #808080;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: 300;

  &--black {
    color: #000000;
  }
}
.header__icon {
  font-size: 15px;
  // letter-spacing: -0.01em;
  // font-weight: 700;
  font-weight: 700;
  font-family: Audi Type Screen;
}
.header__logo {
  font-size: 15px;
}
.model-menu__item a {
  font-family: AudiTNormal;
  color: #ffffff;
  letter-spacing: -0.01em;
  font-size: 15px;
}
.model-menu__item--active a {
  font-family: AudiTNormal;
  border-bottom: 1px solid #ffffff;
  font-weight: 700;
}
.model-menu__item a:hover {
  opacity: 0.8;
}

@media (max-width: 1199.98px) {
  .header {
    padding: 13px 25px;
  }
  .header-mob {
    padding: 0;
    position: relative;
  }
  .header__btn-block,
  .header__address,
  .header__cars {
    display: none;
  }
  .models-block {
    display: none;
  }
  .header__audi img {
    width: 75px;
  }
  .header__logo {
    font-size: 13px;
    line-height: 1.2;
  }
  .header__audi-name {
    padding-left: 10px;
  }
  .header-mob__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .header-mob__info {
    text-align: left;
    padding-top: 13px;
    display: none;
  }
  .header-mob__block {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .header__phone {
    align-content: flex-end;
    align-items: flex-end;
  }
  .header__icon {
    font-size: 13px;
  }
  .header__small {
    font-size: 11px;
    padding-bottom: 3px;
  }
  .header__item-phone:before {
    display: none;
  }
  .header-mob__btn {
    font-size: 11px;
    color: #ffffff;
    padding: 9px 15px;
    background: #000000;
  }

  .header__audi-mob {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .header__logo-mob {
    max-width: 93px;
  }
  .header__audi-name-mob {
    // padding-top: 3px;
    // line-height: 1;
    font-size: 13px;
    padding-left: 15px;
    font-family: AudiTEBold;
  }
  .header-mob__right-part {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    padding-right: 50px;
  }
  .header-mob__phone {
    font-size: 13px;
    font-family: AudiTENormal;
    letter-spacing: -0.025em;
    display: block;
    // margin-bottom: 12px;
    position: relative;

    &:before {  
      content: '';
      width: 8px;
      height: 13px;
      left: -15px;
      top: 0; bottom: 0;
      margin: auto;
      background: url("../img/Phone-gray.svg") no-repeat;
      background-size: contain;
    }
  }
}
.btn {
  outline: none;
}
.link-contact {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;

  @media (max-width: 1199.98px)  {
    display: block;
  }
}

.award-block {
  display: flex;
  flex-wrap: wrap;
  min-width: 190px;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .header-mob__phone {
    display: none;
  }
  .header__logo-mob {
    max-width: 72px;
  }
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__audi-name-mob {
    display: none;
  }
}