.mob-menu-nav {
  display: none;

  z-index: 999;
  background: #ffffff;

  overflow: scroll;
    max-height: calc( 100vh - 115px);

  &__list {
    list-style: none;
    padding: 0;
    border-top: 1px solid #cbcbcb;
    margin: 0;
  }
  &__link {
    padding: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #cbcbcb;
    color: #000000;
    font-size: 14px;
    // letter-spacing: -0.025em;
    font-family: AudiTNormal;
    font-weight: 400;
  }

}
.mob-menu-nav__link--active {
  background-color: #cbcbcb;
} 


.btn-submenu {
  display: inline-block;
  position: relative;

  &:before {
    content: '';
    background: url("../img/arrow.png") no-repeat;
    background-size: contain;
    width: 5px;
    height: 9px;
    position: absolute;
    right: -15px;
    top: 0; bottom: 0;
    margin: auto;
    transition: all 0.5s;
    transform: rotate(-90deg);
  }
}
.mob-menu-nav__link--active .btn-submenu:before {
  transform: rotate(-270deg);
}

.mob-submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;

  // overflow: scroll;
  // height: calc( 100vh - 105px - 116px);
}
.mob-submenu__link {
   padding: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #cbcbcb;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: -0.025em;
    font-family: AudiTNormal;
    background: #000000;
}

.mob-menu-nav__adress {
  padding: 20px 0;
  text-align: center;

  .header__icon {
    font-size: 15px !important;
  font-weight: 400;
  }
  
}

.mob-menu-nav__btns-block {
  padding: 0 59px 40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.mob-menu-nav__btn-item {
  padding-left: 5px;
  padding-right: 5px;
  width: 50%;
}
.mob-menu-nav__btn {
  width: 100%;
}
