.model-banner {
  background-color: transparent;
  padding-bottom: 0;
}
.model-banner__bottom-block {
  padding-top: 20px;
  border-top: 1px solid #ffffff;
  bottom: 20px;
      left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 100px);
    max-width: 1920px;
}
.model-banner__bottom-block--nobr {
  border-top: 0;
  bottom: 50px;
}
.model-banner__mob {
  display: none;
}
.model-banner__title {
  position: absolute;
  left: 50px;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #ffffff;
  top: 60px;
  font-family: AudiTEBold;

      max-width: 1920px;
    width: calc(100% - 100px);
    left: 0;
    right: 0;
    margin: auto;
}
.model-banner__maintitle {
  font-size: 35px;
  line-height: 40px;
}
.model-banner__title {
  display: none;
}
.model-banner__subtitle {
  font-size: 28px;
  font-family: AudiTENormal;
  font-weight: 400;
}
.model-banner__ipad-title,
.model-banner__btn-ipad-order {
  display: none;
}
@media (max-width: 1199.98px) {  
  .model-banner__item {
    display: flex;
    flex-direction: column;
  }
  .model-banner__info {
        position: static;
        height: auto;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        // margin-top: -50px
    }
  .model-banner__info  {
    position: relative;
    background: #000;
    order: 2;
  }

  .model-banner__bottom-block {
    border-top: 0;
    padding: 15px 23px 17px 23px;
    width: 100%;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
  }
  .model-banner__title {
    display: block;
    position: relative;
    left: auto;
    top: auto;
    // background: #000000;
    padding: 15px 20px;
    font-size: 21px;
    line-height: 23px;
    
    color: #ffffff;
    margin: 0;
    width: 100%;

    order: 3;
    padding-bottom: 50px;
  }
  .model-banner__maintitle {
    // font-size: 21px;
    // line-height: 23px;
    color: #000;
    font-size: 33px;
    line-height: 1.3;
    padding-bottom: 18px;
    margin-bottom: 0;
  }
  .model-banner--no-text .model-banner__title {
    position: absolute;
  }
  .model-banner__subtitle {
    font-size: 18px;
    // font-family: AudiTENormal;
  font-weight: 400;
  text-align: left;
  margin-bottom: 35px;
  color: #000;  
  font-family: AudiTNormal;
  }
  .model-banner__subtitle span {
    white-space: nowrap;
  }
  .model-banner__desc-btn {
    display: none;
  }
  .model-banner__ipad-title {
    display: block;
    font-size: 18px;
    color: #fff;
    display: flex;
    height: 100%;
    align-content: center;
    align-items: center;
        font-family: AudiTENormal;
  }
  .model-banner__btn-ipad-order {
    display: inline-block;
    font-size: 20px;
    line-height: 1.2;
    padding: 20px 53px;
  }
}
@media (max-width: 1000px) {
  
  .model-banner__bg {
    order: 1;
  }
}
@media (max-width: 576px)  {
  .model-banner__info  {
    display: none;
  }
  .model-banner__bg {
    display: none;
  }
  .model-banner__mob {
    display: block;
    position: relative;
    order: 1;
  }
  .model-banner__mob-photo {
    width: 100%;
    display: block;
  }
  .model-banner__title {
    font-size: 14px;
    line-height: 14px;
    // padding: 15px 10px;
    text-align: center;
    padding: 30px 20px;
  }
  .model-banner__maintitle {
    font-size: 20px;
    line-height: 1.4;
    margin-top: 0;
  }
  .model-banner--no-text .model-banner__title {
    position: relative;
    opacity: 1;
  }
  .model-banner__subtitle  {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
  }

  .model-banner__item {
    display: flex;
    flex-direction: column;
  }
  .model-banner__title {
    order: 4;
  }
  .model-banner__btn-ipad-order {
    padding: 20px;
    width: 100%;
  }
}