.new-clock {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
  justify-content: flex-end;

  @media (max-width: 670px) {
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    padding-right: 6px;
    align-content: center;
    align-items: center;
  }
  &__num {
    font-size: 22px;
    font-family: AudiTEBold;
    color: #000;
    letter-spacing: -0.1em;

    &--seconds {
      color: #8B8383;
    }
  }
  &__name {
    font-size: 8px;
    letter-spacing: 0.05em;
    color: #8B8383;
    margin: 0;
    padding: 0;
  }
}